$border-color: #e5e5e5;

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
@import 'compass/css3';
@import 'compass/utilities/general/clearfix';

ul.collection-list[data-region] {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid $border-color;

  li {
    div {
      padding: .5em;

      &:before {
        font-family: FontAwesome;
        margin-right: .5em;
        content: '\F047';
      }
    }

    &:nth-child(even) {
      background-color: #f5f5f5;
    }

    a, button {
      display: none;
      margin-left: 6px;
    }

    a {
      text-decoration: none;
    }

    &:hover {
      a, button {
        display: inline-block;
      }
    }
  }

  .empty-list-caption {
    font-family: inherit;
    display: block;
    padding: .5em;
  }
}

ul.collection-list[data-region = '-1'] li {
  div:before {
    font-family: FontAwesome;
    margin-right: .5em;
    content: '\F1DB';
  }

  &.selected div:before {
    content: '\F058';
  }
}

.ui-sortable-helper {
  background-color: rgba(255, 255, 255, .8);
  border: 1px solid #b9b9b9;
  border-radius: 8px;
  color: black;
}

.page-admin-structure-block-demo .block-region.ui-droppable {
  margin: 0;
  text-align: left;
  @include transition-property('background-color');
  @include transition-duration('.25s');
  @include clearfix();

  &.ui-state-highlight {
    background-color: #FFC240;
  }

  button.add {
    float: right;
  }
}

#better-blocks-add-block {
  .form-item-region {
    display: inline-block;

    label {
      font-weight: normal;
      font-style: italic;
      display: inline;
    }
  }
}

.better-blocks-control-panel {
  position: fixed;
  z-index: 99;
  bottom: 2em;
  right: 2em;
  padding: 0 2%;
  border-radius: 1em;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, .9);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, .6);
  max-width: 40%;
}
